@model HelloMVC.Code.Person



<h2>Admin Contact</h2>


<fieldset>
    <legend>Admin Contact</legend>
    <ul>
        <li>Name: @Model.Name </li>
        <li>Email:@Model.Email </li>
        
    </ul>
    <a href="mailto:@Model.Email" class="btn btn bg-primary">Send Email</a>
</a></fieldset>

