

<h2>Welcome To Philips Server</h2>
@{ 
    //this is a c# code block. you can write any c# here
    var date = DateTime.Now; //View shouldn't know where to get data
    
}
<p><strong>Date is </strong>@date.ToLongDateString()</p>
<p><strong>Time is </strong>@date.ToLongTimeString()</p>



