

<h1>Simple Chat</h1>

<input type="text" id="username" class="form-control-sm" placeholder="Your Name"/>
<br/>
<input type="text" id="message" class="form-control" placeholder="Message"/>
<button onclick="sendMessage();" class="bnt btn-primary">Send</button>

<hr/>

<ul class="messages" id="messages">


</ul>

@section Scripts{ 


<script src="~/lib/aspnet/signalr/dist/browser/signalr.min.js"></script>

<script>

    var url = "/hubs/chat";
    //--- signal R startup code
    var connection = new signalR.
                        HubConnectionBuilder()
                        .withUrl(url).build();
    console.log('connecting to ', url);
    connection
        .start()
        .then(() => console.log("connected to the server..."))
        .catch(err => console.log(err));
    //----


    var nameBox = $("#username");
    var messageBox = $("#message");
    var messageList = $("#messages");
    
    function sendMessage() {
        console.log("sending...");
        var name = nameBox.val();
        var message = messageBox.val();
        if (!message)
            return;
        if (!name)
            return alert("enter you name first");        

        console.log("sending", name, message);
        connection
            .invoke("ReceiveUserMssage", name, message);
    }

    connection.on("broadcastMessage", (from, message) => {
        var name = nameBox.val();
        if (name === from) {
            from = "ME"
        };
        messageList.append(`<li><span class="username">${from}</span>
                            <span class="listmessage">${message}</span></li>`);

    })

    

</script>

}
