@model HelloMVC.Code.MultiplicationTable


<h2>Table of @Model.Number</h2>

<table class="table table-condensed table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Multiply</th>
            
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
       @for (int i = 1; i <= Model.Max; i++)
       {
            <tr>
                <td>@Model.Number*@i</td>
                
                <td>@Model.Number*i</td>
            </tr>   
       }

    </tbody>
</table>

<footer>
    &copy; vivek@conceptarchitect.in | follow me twitter: @@vivekdmishra
</footer>

