@model ConceptArchitect.BookManagement.Author

<h1>Remove Author @Model.Name ?</h1>

<partial name="_AuthorInfo" for="@Model" />

<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" class="btn btn-danger" value="Yes! Delete This Author" />
    <a asp-action="List" class="btn btn-primary">No I changed my mind</a>
</form>




