@model IEnumerable<ConceptArchitect.BookManagement.Author> 

<h2>@ViewBag.PageTitle</h2>

@*<a href="/author/create" class="btn btn-sm btn-default">Add</a>*@


@Html.ActionLink((string)ViewBag.NewAuthorLinkText, "Create",null,new { @class = "btn btn-sm btn-primary" })

<table class="table table-condensed table-hover table-responsive table-striped" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Book's Written</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var author in Model)
        {
            <partial name="_AuthorRow" for="@author" />
        }
    </tbody>
</table>

